extends default

block content
  div.container
    each person in people
      div.person
        div.person-image(style=`background: url('/images/${person.profile_pic}') top center
        no-repeat; background-size: cover;`)
        h2.person-name
          | #{person.stage_name} 
        h3.person-name #{person.real_name}
        a.button.button-profile(href=`/profile?id=${person.id}`)
          | View Profile